<!DOCTYPE html>
<html>
<head>
  <title>Conteúdo do Arquivo</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    pre {
      font-family: monospace;
      background-color: white;
    }
    .error {
      background-color: red;
      color:honeydew
    }
  </style>
  <script>
    $(document).ready(function() {
      setInterval(function() {
        $.ajax({
          url: '/show_file/',
          success: function(data) {
            $("pre").html(data);
          }
        });
      }, 10000);
    });
  </script>
</head>
<body>
  <pre>
    <span>{{ content|safe }}</span>
  </pre>
</body>
</html>
